<div class="col-sp col-xl-3 col-lg-3 col-md-4 col-sm-6 col-6">
                                    <div class="product-item">
                                        <div class="product-image-action">
                                            <div class="product-label">
                                                <span class="label new">Nouveau</span>
                                                <span class="label sale">Sale</span>
                                            </div>
                                            <div class="product-image">
                                                <a href="/details-produit/{{produit.slug}}">
                                                    <img class="img-fluid blur-up lazyload" src="/public/assets/images/products/{{produit.photo_principale}}" data-src="/public/assets/images/products/{{produit.photo_principale}}" alt="image" title="image" />
                                                    <img class="img-fluid blur-up lazyload product-imghover" src="/public/assets/images/products/{{produit.photo_principale}}" data-src="/public/assets/images/products/{{produit.photo_principale}}" alt="image" title="image" />
                                                </a>
                                            </div>
                                            <div class="product-action">
                                                <ul>
                                                    <li class="actions-addcart" data-toggle="tooltip" data-placement="top" title="add to cart"><a href="#open-addtocart-popup" class="btn open-addtocart-popup"><i class="icon ti-shopping-cart"></i></a></li>
                                                    <li class="actions-quickview" data-toggle="tooltip" data-placement="top" title="quick view"><a href="#open-quickview-popup" class="btn open-quickview-popup"><i class="icon ti-zoom-in"></i></a></li>
                                                    <li class="actions-wishlist" data-toggle="tooltip" data-placement="top" title="add to wishlist"><a href="#open-wishlist-popup" class="btn open-wishlist-popup"><i class="icon ti-heart"></i></a></li>
                                                    <li class="actions-compare" data-toggle="tooltip" data-placement="top" title="add to compare"><a href="compare.html" class="btn"><i class="icon ti-control-shuffle"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="product-details">
                                            <h3 class="product-title"><a href="product-details.html">{{produit.nom_produit}}</a></h3>
                                            <h4 class="product-vendor">{{produit.slug}}</h4>                                   
                                            <div class="product-starrating">
                                                {% for i in 1..produit.nombre_etoile %}
                                                    {% if i > 0 %}
                                                        <i class="spr-icon fa fa-star"></i>
                                                    {% else %}
                                                        <i class="spr-icon fa fa-star-o"></i>
                                                    {% endif %}
                                                {% endfor %}
                                            </div>
                                            <div class="product-price">
                                                <span class="compare-price">{{produit.prix}} €</span>
                                                <span class="sale-price">{{produit.prix - produit.reduction}} €</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>